<h1 style="margin:0 0 1rem 0">Wiki Stumble</h1>

<%= form_with url: recommendations_update_path, method: :patch do |f| %>
  <%= render 'recommendations/starter_categories', form: f, starter_categories: @starter_categories %>
  <%= render 'recommendations/article_type', form: f, article_type: @article_type %>

  <%= f.submit "Next article", class: "paper-btn margin-top" %>

  <% unless @recommendation.nil? %>
    <%= render 'recommendations/like_dislike', form: f %>
  <% end %>
<% end %>

<% unless @recommendation.nil? %>
  <%= render 'recommendations/recommendation', recommendation: @recommendation %>
  <%= render 'recommendations/category_scores', category_scores: @user_category_scores %>
<% end %>